<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <h1>!task for options</h1>
    <ul id="taskList"></ul>
    <script src="main.js"></script>
    <% if(testContent){ %>
    <div id="mocha" style="position: absolute; top: 0; right: 0; background-color: hsl(0, 0%, 75%); padding: 1em; border-radius: 1em;"></div>
    <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
    <script src="https://unpkg.com/chai/chai.js"></script>
    <script src="https://unpkg.com/mocha/mocha.js"></script>

    <script class="mocha-init">
      mocha.setup({
        ui: 'bdd',
        bail: true,
        retries: 1,
        noHighlighting: true
      });
    </script>
    <script>
      <%- testContent %>
    </script>
    <script class="mocha-exec">
      mocha.run();
    </script>
    <% } %>
  </body>
</html>
